* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00030C;
}

.container-principal {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90rem;
    margin: 0 auto;
    height: 42.5rem; 
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.titulo-principal {
    color: #ffffff;
    width: 36.75rem;
    height: 6.375rem;
    margin-top: 7.8125rem;
    margin-bottom: 22px;
    margin-left: 3.375rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.125rem;
    font-family: 'Inter';
    font-style: normal;
}

.img-container-principal {
    margin-left: 178px;
    width: 348px;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-header-um {
    display: block;
    width: 512px;
    height: 56px;
    border: none;
    background: #167BF7;
    border-radius: 8px;
    margin-top: 2.75rem;
    margin-left: 5.75rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    border-color: none;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}

.botao-header-um:hover {
    font-size: 1.125rem;
}

.botao-header-dois {
    display: block;
    width: 512px;
    height: 56px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-top: 16px;
    margin-left: 92px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}

.botao-header-dois:hover {
    font-size: 1.125rem;
}

.paragrafo-header {
    display: block;
    width: 23.75rem;
    height: .9375rem;
    margin-left: 10.0625rem;
    margin-top: .625rem;
    font-size: .75rem;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

/* Main */

.bloco-principal {
    width: 90rem;
    margin: 0 auto;
}

.container-um {
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-plataforma {
    display: inline-block;
    margin-left: 10.3125rem;
    margin-top: 95px;
}

.titulo-sections {
    display: block;
    color: #ffffff;
    width: 36.75rem;
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin-top: 318px;
    line-height: 58px;
}

.paragrafo-sections {
    display: block;
    color: #F9F9F9;
    width: 588px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5rem;
    opacity: 0.8;
}

.container-dois {
    display: grid;
    grid-template-columns: 50% 50%;
}

.paragrafo-container-dois {
    display: inline-block;
    color: #ffffff;
    width: 588px;
    height: 72px;
    margin-left: 7.5rem;
    margin-top: 15.5625rem;
    margin-bottom: 16px;
    margin-right: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}

.botao-combo {
    display: block;
    background: #167BF7;
    width: 11.5rem;
    height: 3.625rem;
    margin-left: 7.5rem;
    padding: 1rem;
    border-radius: .5rem;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.botao-combo:hover {
    font-size: 1.125rem;
}

.telas {
    margin-left: 4.375rem;
    margin-top: 9.4375rem;
}

.container-tres {
    display: grid;
    grid-template-columns: 50% 50%;
}

.notebook {
    margin-left: 8.8125rem;
    margin-top: 14.15rem;
}

.paragrafo-container-tres {
    color:  #F9F9F9;
    font-family: 'Inter';
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    opacity: 0.8;
    width: 36.75rem;
    height: 3rem;
}

/* Inicio da Seção Quatro */

.titulo-container-quatro {
    margin-top: 16.5rem;
    margin-left: 14.25rem;
    color: #ffffff;
    width: 61.5625rem;
    height: 3.625rem;
    font-family: 'Inter';
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 3.625rem;
    text-align: center;
}

.imagem-tv-box {
    display: inline-block;
    margin: 2.5rem 4.3125rem 0 9.6875rem;
}

.imagem-computador-box {
    display: inline-block;
}

.imagem-tablet-box {
    display: inline-block;
    margin-left: 4.25rem;
}

.legenda-tv {
    margin-top: 1rem;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    line-height: 2.375rem;

}

.legenda-computador {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    line-height: 2.375rem;

}

.legenda-tablet {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    line-height: 2.375rem;
}

/* Inicio do Rodapé */

.bloco-footer {
    width: 90rem;
    margin: 0 auto;
}

.logo-box {
    text-align: center;
    margin-top: 9.0625rem;
    margin-bottom: 2.5444rem;
}

.footer-links a {
    color: #ffffff;
    margin-left: 1rem;
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    text-decoration: none;

}
    

.footer-links a:nth-child(1) {
    margin-left: 9.75rem;
}

.footer-links a:hover {
    color: #167BF7;
}

.footer-links a:active {
    color: purple;
}

.paragrafo-footer-box {
    margin-top: 1.5rem;
    margin-bottom: 6.0006rem;
}

.paragrafo-footer {
    color: #C0C0C0;
    text-align: center;
    font-size: .875rem;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    line-height: 1.3125rem;
    
}

